{{- if eq (.Get 0) "fos" -}}
{{- .Site.Params.fosDocsURL -}}
{{- else if eq (.Get 0) "fos-executor" -}}
{{- .Site.Params.fosExecutorDocsURL -}}
{{- else if eq (.Get 0) "fos-io" -}}
{{- .Site.Params.fosIoDocsURL -}}
{{- else if eq (.Get 0) "fos-codec" -}}
{{- .Site.Params.fosCodecDocsURL -}}
{{- else if eq (.Get 0) "fos-reactor" -}}
{{- .Site.Params.fosReactorDocsURL -}}
{{- else if eq (.Get 0) "fos-timer" -}}
{{- .Site.Params.fosTimerDocsURL -}}
{{- else if eq (.Get 0) "bytes" -}}
{{- .Site.Params.bytesDocsURL -}}
{{- else if eq (.Get 0) "core" -}}
{{- .Site.Params.coreDocsURL -}}
{{- else if eq (.Get 0) "futures" -}}
{{- .Site.Params.futuresDocsURL -}}
{{- else if eq (.Get 0) "mio" -}}
{{- .Site.Params.mioDocsURL -}}
{{- else if eq (.Get 0) "proto" -}}
{{- .Site.Params.protoDocsURL -}}
{{- else if eq (.Get 0) "service" -}}
{{- .Site.Params.serviceDocsURL -}}
{{- end -}}
